.main{
    background-color: bisque;
    display: grid;
    border: 4px solid black;
    grid-template-rows: 100px 300px 80px;
    grid-template-columns: 1fr repeat(auto, 1fr) ;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'
    ;
    /*grid-auto-rows:  150px;
    grid-auto-flow: row;*/
}

.item{
    background-color: rgb(235, 186, 114);
    padding: 20px;
    font-size: 20px;
    margin: 10px;
}

/*.item:nth-child(3){
    grid-area: 3 / 1 / 8 / 8;

}

.item:nth-child(2){
    grid-area: 2 / 2 / 3 / 8;
    z-index: 1;
    border: 2px solid black;
}*/
.item:nth-child(1){
    grid-area: header;
}

.item:nth-child(2){
    grid-area: main;
}

.item:nth-child(3){
    grid-area: aside;
}

.item:nth-child(4){
    grid-area: footer;
}
