img{
    -webkit-box-reflect: below;
}
.div1{
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.masking img{
    -webkit-mask-image: url(img/w3logo.png);
    mask-image: url(img/w3logo.png);
}