.div1{
    width: 100%;
    height: 300px;
    background-color: bisque;
    /*background-image: url(img/mathieu-odin-Y4wbSPSxf_M-unsplash.jpg), url(img/star.png);
    background-repeat: no-repeat, no-repeat;
    background-size:  30%, 50% ;
    background-position: center, center;*/

    /*background-image: linear-gradient(to left, red, yellow, blue, black);*/

    background-image: repeating-linear-gradient(red, yellow 20%, blue 30%);
}

.div2{
    width: 100%;
    height: 300px;
    background-image:  repeating-radial-gradient( red, green);
}
 